* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 500;
}

.navbar-main-container {
  background-color: rgb(65, 65, 65, 0.8);
  backdrop-filter: blur(4px);
  overflow: hidden;
  margin-top: 1rem;
  margin-right: 2rem;
  min-height: 3.8rem;
  width: 72px;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  z-index: 10;
  font-family: "Jost", sans-serif;
  align-items: center;
}

.profile-pic-nav {
  height: 64px;
  width: 64px;
  position: relative;
  border-top: 2px solid grey;
  padding: 1.1rem;
}

.profile-pic-nav img {
  height: 100%;
  width: 100%;
  position: relative;
  border-radius: 50%;
  image-rendering: -webkit-optimize-contrast;
  object-fit: contain;
}

.nav-arrow-cont {
  padding: 15px 5px 15px 5px;
  height: 72px;
  width: 72px;
  position: relative;
  top: 0px;
  animation: updown 5s infinite ease-in-out;
  cursor: pointer;
}

@keyframes updown {
  86% {
    top: 0px;
  }
  93% {
    top: 5px;
  }
  100% {
    top: 0px;
  }
}

.nav-arrow-cont a,
.profile-pic-nav a {
  position: absolute;
  top: 0;
  left: 0;
  padding: inherit;
  width: 32px;
  height: 64px;
}

.nav-arrow-cont svg,
.profile-pic-nav svg {
  position: relative;
  height: 100%;
  width: 100%;
}

.nav-links {
  display: flex;
  flex-direction: column;
  padding-top: 1.7rem;
  gap: 2rem;
  position: relative;
  flex-grow: 1;
  border-top: 2px solid grey;
  width: 100%;
}
.nav-links .link {
  position: relative;
  width: 100%;
  height: 40px;
  padding: inherit;
  color: rgb(175, 175, 175);
  box-shadow: inset 0px 0 0 0 #51a3b8;
  transition: all 0.2s ease-in;
}
.nav-links svg {
  height: 100%;
  width: 100%;
}
.nav-links li:hover {
  color: aliceblue;
}
.nav-links li:hover .link {
  box-shadow: inset 5px 0 0 0 #51a3b8;
  color: white;
}
.logo:hover {
  animation: none;
}
.nav-links h6 {
  height: 12px;
  font-size: 0.95rem;
  font-weight: bold;
  position: relative;
  cursor: pointer;
  user-select: none;
}
.nav-links li {
  color: transparent;
  align-items: center;
  height: 48px;
  display: flex;
  flex-direction: column;
  transition: color 0.15s ease-in-out;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.nav-links a {
  text-decoration: none;
}
