.priklady-main-header {
  height: 100%;
  width: 100%;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  justify-content: center;
  max-width: 100%;
  display: grid;
  grid-template-columns: minmax(400px, 1800px);
  grid-template-rows:
    minmax(15px, 5%) minmax(100px, 70%)
    minmax(100px, 25%);
}

.priklady-main-header > * {
  font-family: 'Oswald', sans-serif;
}

.priklady-task-number {
  margin: 0;
  text-align: center;
  height: fit-content;
  align-self: center;
}

.priklady-task-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10% 0 10%;
  background-color: #f3f3f3;
  margin: 0 1rem 0 1rem;

  border-radius: 25px;
  /* box-shadow: 0px 0px 30px 5px rgba(255, 0, 0, 0.5); */

  transform-origin: scale(1);
}

.priklady-task-img {
  /* margin: 0.5rem; */
  height: 80%;
  object-fit: contain;
  width: 100%;
  /* height: 100px; */
  text-align: center;
}

.ansert-cont {
  position: relative;
  overflow: hidden;
  /* display: flex;
  flex-direction: column; */
}

.ansert-cont > div {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 5rem;
}

.ansert-cont > h2 {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}

.priklady-submit-button {
  width: 35%;
  max-width: 450px;
  height: 70px;
  background: #51a3b8;
  font-size: 20px;
  color: white;
  border-radius: 7px;
  box-shadow: 0 7px 0px #387796;
  display: inline-block;
  transition: all 0.2s;
  position: relative;
  padding: 20px 25px;
  position: relative;
  top: 0;
  cursor: pointer;
  margin: 0 20px;
  border-style: double;
  border-width: 1px;
  outline: none;
}

.priklady-submit-button:active {
  top: 3px;
  box-shadow: 0 2px 0px #387796;
  transition: all 0.15s;
}

.priklady-main-input {
  width: 35%;
  max-width: 450px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  outline: none;
  text-align: center;
}

.priklady-ABCDlist {
  margin: 0;
  width: 50%;
  max-width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
}

.priklady-ABCDlist > li {
  cursor: pointer;
  text-align: center;
  font-size: 32px;
}

.priklady-center-check {
  position: relative;
}

.priklady-answer-type {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* */
.checkmark-cont {
  width: 8rem;
  height: 8rem;
  position: absolute;
  top: calc(50% - 4rem);
  left: calc(50% - 4rem);
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  fill: #7ac142;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
  border-radius: 50%;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px #7ac142;
}
